* {
    display: block;
}

#header {
  height: 10%;
  width: 100%;
  margin: 3px 0px;
  border-bottom: 1px solid black;
}


#content {
  height: 79%;
  width: 100%;
}

#footer {
  height: 10%;
  width: 100%;
  margin: 3px 0px;
  border-top: 1px solid black;
  position: absolute;
  bottom: 0;
}
